includes:
	- tests/phpstan-baseline.neon # TODO: Fix all these issues.
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	tmpDir: .cache/phpstan
	level: 0
	scanDirectories:
		- vendor/wp-cli
	paths:
		- inc
		- plugin.php
		- uninstall.php
